// Typography
$font-family-sans-serif: Arial, Helvetica, sans-serif;

// Colors
$white: #ffffff;
$black: #000000;
$navy: #172b46;
$blue: #0065B3;
$teal: #12A89D;
$green: #AED135;
$yellow: #FFDE15;
$orange: #F7941D;
$pink: #EF1A76;
$red: #FF0000;
