body {
    margin: 0px;
    font-family: 'Rubik', sans-serif;
}

footer {
    background-color: black;
    position: sticky;
    color: white;
}

.copyright {
    text-align: center;
    font-size: 0.8em;
}

.socialmedia {
    width: 40px;
    padding: 5px;
}

footer a:hover {
    text-decoration: none;
}

.footer-option {
    text-align: center;
    padding: 40px 0px;
}

.main-body {
    margin: 40px 100px;
}
