/* Full-width input fields */
input[type=text], input[type=password] {
    border-radius: 10px;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
    background-color: #9364a9;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 35px;
}

.error{
    color: red;
}


/* Add padding to container elements */
.signup-signin-form {
    width: 80%;
    padding: 16px;
    margin: 0 auto;
}

/* Add padding to container elements */
.account-update {
    width: 80%;
    padding: 16px;
    margin: 0 auto;
}

