/*
    CSS for show form
 */

/*
    H1 Styling
 */
h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

/*
    pre Styling
 */
.author {
    font-family: Arial;
    text-align: center;
    font-size: 1.4em;
    font-weight: lighter;
}

.content-section{
    border-radius: 25px;
    border: 2px solid #12A89D;
    padding: 40px;
}
