/*
    CSS for create and upload forms
 */

/* input heading styling */
.input-heading{
    font-size: 1.2em;
}

/* styling for sections of form */
.upload-section{
    border-radius: 25px;
    border: 2px solid #ffa600;
    padding: 40px;
}
